  <h5> 
    <%= title%> <span class="bg-gray-100 text-sm font-small mr-2 px-2 py-0.5  rounded dark:text-gray-900 dark-bg-gray-200 justify-center items-center items" id="count-<%= title%>"><%= data.length%></span>
  </h5>
  <ul class="list-none">
    
    <% for(var i=0;i<data.length;i++) { %>
      <li class="todo-item">
        <div
          class="flex items-center w-fit my-2 px-2 py-1 hover:bg-green-100 rounded"
        >
          <input
            type="checkbox"
            id="todo-checkbox-<%=data[i].id  %>"
            <%= data[i].completed ? "checked":"" %> 
            onClick="updateTodo(<%= data[i].id %>,<%= data[i].completed %>)"
            class="w-4 h-4 text-blue-300 bg-gray-600 border-gray"
          />
          <label
            for="todo-checkbox-<%=data[i].id  %>"
            class="ml-2 text-sm text-gray-600 hover:cursor-pointer"
          >
            <%= data[i].title%>
          </label>
          <a href="" class="hidden ml-2 trash-icon"  onClick="deleteTodo(`<%= data[i].id %>`)"    >
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M9.75 9.75l4.5 4.5m0-4.5l-4.5 4.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            
          </a>
        </div>
      </li>
      <% } %>
    

  </ul>

